.web-header {
  border-bottom: 1px solid rgba(5, 5, 5, 0.06);
}
.web-header.ant-layout-header {
  line-height: 35px;
}

.web-top-nav.ant-menu-horizontal {
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.web-mega-menu-item-group-title {
  font-weight: 600;
  font-size: 16px !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}

.web-panel-nav .ant-drawer-body {
  padding: 0 !important;
}

.web-panel-nav .ant-drawer-header {
  padding-right: 10px !important;
}

@media (max-width: 575.98px) {
  .web-header {
    height: 70px !important;
  }
  .web-header.ant-layout-header {
    line-height: 70px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  .web-header {
    height: 70px !important;
  }
  .web-header.ant-layout-header {
    line-height: 70px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .web-header {
    height: 100px !important;
  }
  .web-header.ant-layout-header {
    line-height: 35px;
  }
}
