.form-item-left {
    width: calc(100%);
  }

.session-img{
    width: 40%;
    height: auto;
}

.ant-form-item {
    margin-bottom: 10px !important;
  }
  
.quick-lookup .ant-tabs-nav .ant-tabs-tab:nth-child(1) {
    margin-left: 0px !important;
  }
  
.quick-lookup {
    position: relative !important;
  }
  
.quick-lookup .ant-tabs-tab {
    font-weight: 600 !important;
    text-transform: uppercase;
    color: #414141 !important;
    height: 100%;
  }
  
.bg-img {
    position: relative;
    z-index: 0;
    padding: 0;
  }
  
.quick-lookup .ant-tabs-content-holder {
    border: none;
    padding-top: 2%;
    margin-bottom: 1rem;
  }

@media (max-width: 1194px) {
    .form-item-left {
        width: calc(100%);
    }
  }

@media (min-width: 800px) {
    .quick-lookup .ant-tabs-nav {
      position: absolute !important;
      margin: 0 !important;
      top:-65px;
      left: 0;
      width: 100%;
      z-index: 1;
      height: 65px;
    }
    .quick-lookup .ant-tabs-nav::before {
      border: none !important;
    }
    
    
    .quick-lookup .ant-tabs-nav .ant-tabs-tab {
      background-color: rgba(255, 255, 255, 0.8) !important;
    }
    
    .quick-lookup .ant-tabs-nav .ant-tabs-tab-active {
      border-bottom-color: #ffffff !important;
      background-color: #ffffff !important;
    }
  }
@media (max-width:800px) {
    .quick-lookup .ant-tabs-nav .ant-tabs-nav-list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .quick-lookup .ant-tabs-nav .ant-tabs-tab-active{
     background-color:  orange !important;
      
    }
    .quick-lookup .ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn{
      color: white !important;     
     }
    .ant-tabs-nav .ant-tabs-tab{
      border-radius: 8px 8px 8px 8px !important;
    }
    .session-img{
    width: 60%;
    }
  }
  
  /* Mobile View */
@media (max-width: 500px) {
   
  }
  
  
  /* Desktop View */
@media (min-width: 1194px) {
    .custom-dropdown{
      display: flex;
      flex-direction: column;
      gap:0;
      flex-wrap: wrap;
      max-height: 300px;
      max-width: fit-content;
    }
    .ant-menu-submenu>.ant-menu li{
      max-width: fit-content;
    }
    .ant-menu-submenu>.ant-menu a{
      color: #888888 !important;
      }
    .ant-menu-submenu-popup >.ant-menu .ant-menu-item .ant-menu-item-icon {
        color: gray !important; 
      }
    .form-item-left {
        width: calc(40%);
      }
    
    .form-item-right {
        width: calc(60%);
      }
    .custom-container {
        max-width: 1140px; 
        margin-left: auto;
        margin-right: auto;
      }
  }