.lookupItem {
    cursor: pointer;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px !important;
        .lookupName {
            color: #ffa500;
            transition: all 0.2s ease-in-out;
        }
        .lookupButton {
            border-color: #ffa500 !important;
            color: #ffa500;
            transition: all 0.2s ease-in-out;
        }
    }
}