:root {
  --bg-color-scroll: #aab2bf;
  --border-radius-scroll: 10px;
  --bg-color-scroll-2: #d9d9d9;
  --bg-color-scroll-track: #d7d7d7;
  --scroll-size: 6px;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

.menu-mobile{
  margin-top: 100px;
}

.btn-custom-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  background-color: #ECA42E;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  gap:10px;
  border-radius: 9999px;
}

.btn-custom-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #ECA42E;
  color: #FFFFFF;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  gap:10px;
  border-radius: 9999px;
}

.search-field{
  background-color: #F6F6F6;
  border-radius: 9999px;
  height: 40px;
}
.search-field::placeholder {
  color: #888888;
}

.custom-offcanvas-header{
  height: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.menu-icon:hover{
  color: orange;
  cursor: pointer;
}

.top-nav .ant-menu-item {
  line-height: 100px;
  color: gray !important;
  font-weight: 600;
  font-size: medium;
}

.top-nav .ant-menu-item-selected {
  color: orange !important;
}

.top-nav .ant-menu-item-active {
  color: orange !important;
}

.top-nav .ant-menu-submenu {
  line-height: 100px;
}

.top-nav .ant-menu-submenu-title {
  color: gray !important;
  font-weight: 600;
  font-size: medium;
}

.top-nav .ant-menu-submenu-active .ant-menu-submenu-title {
  color: orange !important;
}

.top-nav .ant-menu-submenu-selected .ant-menu-submenu-title {
  color: orange !important;
}
/*
.ant-menu-vertical >.ant-menu-submenu>.ant-menu-submenu-title{
  font-size: larger;
  font-weight: 600;
}

.text-gray{
  color: #888888
}
*/
.mobile-display{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}

.logo{
  height: 70px;
}



/* Mobile View */
/*
@media (max-width: 500px) {
  .mobile-hidden{
    display: none;
  }
  .mobile-display{
    display: flex;
    flex-direction: row-reverse ;
    gap:1rem;
  }
  .logo{
    height: 40px;
  }
  .ant-layout-header {
    background: transparent;
  }
}
*/

/* Desktop View */
/*
@media (min-width: 1400px) {
  .custom-dropdown{
    display: flex;
    flex-direction: column;
    gap:0;
    flex-wrap: wrap;
    max-height: 300px;
    max-width: fit-content;
  }
  .ant-menu-submenu>.ant-menu li{
    max-width: fit-content;
  }
  .ant-menu-submenu>.ant-menu a{
    color: #888888 !important;
    }
  .ant-menu-submenu-popup >.ant-menu .ant-menu-item .ant-menu-item-icon {
      color: gray !important; 
    }
}

.ant-menu .ant-menu-item-group-title {
  font-weight: 600;
  font-size: 20px !important;
  color: black !important;
}
/** Scrollable **/
.custom_scrollbar {
  scrollbar-color: var(--bg-color-scroll) var(--bg-color-scroll-2);
  scrollbar-width: thin;
}
.custom_scrollbar::-webkit-scrollbar {
  width: var(--scroll-size, 6px);
  height: var(--scroll-size, 6px);
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background: var(--bg-color-scroll);
  border-radius: var(--border-radius-scroll);
}
.custom_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 var(--border-radius-scroll) var(--bg-color-scroll-2);
  border-radius: var(--border-radius-scroll);
  background: var(--bg-color-scroll);
}

/** custom antd table scrollbar */
.ant-table-body {
  overflow: auto !important;
}
.ant-table-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.ant-table-wrapper .ant-table {
  scrollbar-color: unset !important;
}
.ant-table-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 var(--border-radius-scroll) var(--bg-color-scroll-2);
  border-radius: var(--border-radius-scroll);
  background: var(--bg-color-scroll-track);
}

.ant-table-body::-webkit-scrollbar-thumb {
  background: var(--bg-color-scroll);
  border-radius: var(--border-radius-scroll);
}
/** end custom antd table scrollbar */

.app-upload-list-item:hover {
  background-color: #D9D9D9;
}

/** global custom antd */
.ant-form-item {
  margin-bottom: 8px;
}
.ant-form-item-label {
  padding-bottom: 3px !important;
  font-weight: 600;
}
.slick-arrow {
  opacity: 0;
  visibility: hidden;
}
.slick-slider:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
/** end global custom antd */

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}