:root {
  --bg-color-scroll: #aab2bf;
  --border-radius-scroll: 10px;
  --bg-color-scroll-2: #d9d9d9;
  --bg-color-scroll-track: #d7d7d7;
  --scroll-size: 6px;
}

/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/

.top-nav .ant-menu-item {
  line-height: 73px;
  color: gray !important;
}

.top-nav .ant-menu-item-selected {
  color: orange !important;
}

.top-nav .ant-menu-item-active {
  color: orange !important;
}

.top-nav .ant-menu-submenu {
  line-height: 73px;
}

.top-nav .ant-menu-submenu-title {
  color: gray !important;
}

.top-nav .ant-menu-submenu-active .ant-menu-submenu-title {
  color: orange !important;
}

.top-nav .ant-menu-submenu-selected .ant-menu-submenu-title {
  color: orange !important;
}

/* antd custom */
.ant-menu .ant-menu-item-group-title {
  font-weight: 600;
  color: orange !important;
}

.ant-form-item {
  margin-bottom: 10px !important;
}

.quick-lookup .ant-tabs-nav .ant-tabs-tab:nth-child(1) {
  margin-left: 0px !important;
}

.quick-lookup .ant-tabs-nav .ant-tabs-tab {
  font-weight: 600 !important;
  text-transform: uppercase;
  color: gray !important;
  border-color: gray !important;
}

.quick-lookup .ant-tabs-nav::before {
  border-color: gray !important;
}

.quick-lookup .ant-tabs-nav {
  margin: 0px !important;
}

.quick-lookup .ant-tabs-nav .ant-tabs-tab-active {
  border-bottom-color: #ffffff !important;
}

.quick-lookup .ant-tabs-content-holder {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-top-style: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 1rem;
}

/* Tailwincss */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem
}
/** Scrollable **/
.custom_scrollbar {
  scrollbar-color: var(--bg-color-scroll) var(--bg-color-scroll-2);
  scrollbar-width: thin;
}
.custom_scrollbar::-webkit-scrollbar {
  width: var(--scroll-size, 6px);
  height: var(--scroll-size, 6px);
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background: var(--bg-color-scroll);
  border-radius: var(--border-radius-scroll);
}
.custom_scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 var(--border-radius-scroll) var(--bg-color-scroll-2);
  border-radius: var(--border-radius-scroll);
  background: var(--bg-color-scroll);
}